html, body{
    font-family: 'Instrument Sans', sans-serif;
    background-image: url(/static/images/geowhite.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%; 
    margin: 0; 
    padding: 0; 
    overflow-x: hidden;
}


.table-wrapper {
  overflow-x: none;
  width: 100%;
  padding: 0px;
  margin-left: -0px;
  height: 50%;
  margin-top: -20px;
}

.table-scroll {
  display: inline-block;
  overflow: auto;
  width: 100%;
  
}
  
.head{
    background-image: url(/static/images/dark-red.jpg);
    padding: 20px;
    margin-top: 45px;
    margin-left: -10px;
    margin-right: -40px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: #292929 2px 2px 2px;
}

#cancelButton {
  background: linear-gradient(to top, #700a0a, #de1f1f);
    color: rgb(255, 255, 255);
    border: none;
    box-shadow: black 2px 2px 2px;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bolder;
    text-shadow: black 1px 1px 1px;
}

#cancelButton:hover {
  background: linear-gradient(to bottom, #700a0a, #de1f1f);
}

  table {
    border-collapse: collapse;
    width: 110%;
  }

  .messages li {
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff4646;
    color: #ffffff;
    text-align: center;
    width: fit-content;
    padding: 10px;
    margin: auto !important;
    min-width: 300px;
    border-radius: 15px;
    list-style: none;
    margin-top: 15px;
    font-weight: lighter;
    margin-left: -13px;
  }
  
  ul.messages li.success-message {
    background-color: #0d9f00;
    margin: auto;
    width: fit-content;
  }

  .container{
    text-align: center;
    padding: 10px;
    margin: auto;
  }

h1{
    color:rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 4.5px 3px 2px;
    text-align: center;
}

.form {
  color: #ffffff;
  font-weight: bolder;
  text-shadow: #000000 2px 2px 2px;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(123, 123, 123, 0.65);
  box-shadow: #272727 0px 0px 13px 3px;
  margin: auto;
  height: auto;
  margin-top: 70px;
  border-radius: 15px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top:10px;
  padding-bottom:10px;
  width: 30%;
  min-width: 30%;
  justify-content: space-between;
  gap: 10px; /* Adds equal spacing between elements */

}

.form label,
.form input,
.form p {
  width: 100%;
}

  th,
  td {
    color: rgb(0, 0, 0);
    padding: 8px;
    white-space: nowrap;
  }

  table tr:nth-child(even) {
    background-color: #eeeeee;
  }
  
  table tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
  th {
    background-color: rgb(77, 77, 77);
    text-align: center;
    color: white;
    text-shadow: black 2px 2px 2px;
    border-top: rgb(255, 255, 255) 4px solid;
  }

  .sticky {
    position: sticky;
    top: 0;
    background: inherit; /* so it matches the th */
    z-index: 1;
}
  
  td {
    text-align: center;
  }
  
.btn {
  background: linear-gradient(to top, #0a7013, #17c526);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bolder;
    text-shadow: black 1px 1px 1px;
    border: none;
}
.btn:hover {
  background: linear-gradient(to bottom, #0a7013, #14af21);
}

.status-bar {
    width: 102%;
    background: linear-gradient(to bottom,#6a6a6a, #0f2650);
    padding: 0px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    color: white;
    text-shadow: black 2px 2px 2px;
    margin-top: -2px;
    margin-left: -10px;
    height: 22px;
    align-items: center;
}

#addDomainForm {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bolder;
  margin: auto;
  padding: 20px;
  background-color: rgba(184, 184, 184, 0.5);
  border-radius: 10px;
  width: fit-content;
  padding-bottom: 25px !important;

}

#insertDomainbtn {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: white;
  border-radius: 10px;
  color: #009018;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  border: #009018 1px solid;
  height: 33px;
}

.domainInput{
  border-radius: 10px;
  height: 30px;
  border: .5px solid rgb(138, 138, 138) ;
  text-align: center;
  margin: auto;
}

#insertDomainbtn:hover {
  background:linear-gradient(to bottom, #325f2c, #3d9219);
  color: white;
  text-shadow: rgb(74, 74, 74) 2px 2px 2px;
  border: 1px solid rgb(16, 16, 16);
  
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #606060;
    color: rgb(255, 255, 255);
    z-index: 100;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #606060;
  }
  
  body {
    margin-top: 60px; /* adjust this to the height of your navigation bar */
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 5px;
  }

  .filter {
    cursor: pointer;
    background-color: #1148b8;
    text-shadow: black 1px 1px 1px;
    color:white;
    font-weight: bolder;
    border-radius: 4px;
  }

  .filter:hover {
    background-color: #464646;
    text-shadow: black 3px 3px 3px;
  }

  /* Carousel styling */
  #introCarousel,
  .carousel-inner,
  .carousel-item,
  .carousel-item.active {
    height: 100vh;
  }

  .passwordRevealBtn{
    color:white;
    text-shadow: #000000 1px 1px 1px;
  }

  .passwordRevealBtn:hover{
    color: #979797;
  }

  .carousel-item:nth-child(1) {
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .carousel-item:nth-child(2) {
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/77.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .carousel-item:nth-child(3) {
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  /* Height for devices larger than 576px */
  @media (min-width: 992px) {
    #introCarousel {
      margin-top: -58.59px;
    }
  }

  #domainlist {
    list-style-type: none;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 90%;
    margin: auto;
  }

  #domainitem {
    display: flex;
    align-items: left;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(168, 168, 168);
    color: #000000;
    margin-bottom: 10px;
    text-align: left;
  }

  .domain-info {
    flex-grow: 1;
    padding: 20px;
    text-align: left;

  }

  .settings-delete-container {
    display: flex;
  align-items: center;
  flex-direction: row;
  }

  .settings-button {
    background-color: transparent;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    color: #fefefe;
    text-shadow: black 1px 1px 1px;
    font-size: 30px;
  }

  .settings-button:hover {
    color: #d3d3d3;
    text-shadow: black 3px 3px 3px;
  }
  .settings {
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    color: #9b9b9b;
    text-shadow: rgb(61, 61, 61) 1px 1px 1px;
    font-size: 20px;
    margin:-5px;
  }

  .settings:hover {
    color: #5e5e5e;
    text-shadow: black 1px 1px 1px;
  }

  .deleteBtn {
    background-color: transparent;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    color: hsl(0, 100%, 65%);
    text-shadow: black 2px 2px 2px;
    font-size: 25px;
  }

  .deleteBtn:hover {
    color: #801616;
    text-shadow: black 3px 3px 3px;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    background-color: rgba(255, 255, 255, 0.89);
    margin: 15% auto;
    height: auto;
    padding: 30px;
    border: 3px solid #ffffff;
    width: 220px;
    justify-content: space-between;
    text-align: center;
    height: fit-content;
    border-radius: 20px;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-top: -20px;
    margin-right: -10px;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0 10px;
  padding: 5px;
  border-radius: 10px;
  text-shadow: #000000 1px 1px 1px;
}

nav a:hover {
  text-shadow: rgb(0, 0, 0) 3px 3px 3px;
  cursor: pointer;
  font-weight: bolder;
  color:white
}

  .search-area {
    position: relative;
    display: inline-block;
    background-color: white;
    margin-left: -10px;
    border-radius: 3px;
    width: fit-content;
    text-align: center;
    color: black;
    padding: 5px;
    height: fit-content;
}

.filter-options {
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none; /* Remove bullet points */
    text-align: left;
}

.filter-options label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    padding-right: 20px;
}

ul{
  list-style: none;
}

  #pagination {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
    padding: 10px;
}
table{
  box-shadow: black 2px 2px 2px;
}

.pagination {
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.pagination-btn {
    display: inline-block;
    margin: 0 5px;
    background-color: white;
    border-radius: 10px;
    color: #1148b8;
    text-decoration: none;
    cursor: pointer;
    font-weight: bolder;
}

.pagination-btn:hover {
    text-shadow: rgb(202, 202, 202) 2px 2px 2px;
    color:#292929
}


@media(max-width:796px){
  .form{
    width: 70%;
    top: 50% !important
  }
  .passwordDiv{
    margin-left:3% !important;
    margin-right: -3% !important
  }
  .passwordRevealBtn{
    margin-left:2px !important;
    font-size:12px !important
  }
  .messages li{
    margin-top: 15% !important;
  }
  h1{
    font-size: 24px !important;
    margin-left: -30px !important;
  }

  #registerbtn{
    display:none
  }

  .head{
    margin-top:43px;
  }

  .head h1{
    margin-top: 18px;
    font-size: 18px !important;
  }

  #domainitem{
    padding-left:-15px !important;
    padding-right:-15px !important;
    font-size:10px;
    margin-left:-37px !important;
    margin-right:-37px !important;
  }
  .settings-button{
    font-size:20px !important;
    padding:0px !important;
  }
  .deleteBtn{
    font-size:20px !important;
    padding-left:10px !important;
  }
  .settings-delete-container{
    padding:5px;
    margin-right:-15px
  }
  nav, nav li{
    text-align: center;
    margin: auto;
    width:100%;
    font-size:17px;
    padding-top:5px;
    padding-bottom:5px;
  }

  nav li{
    margin-left:-11px !important;
  }

  .clearfix{
    padding-left:5px !important
  }
  a, .clearfix {
    padding:0px
  }
  
  #search-input{
    width:189px;
    margin-left:-7px;
  }
  .search-area, .search-bar{
    width:100%;
  }
  .domain-info{
    padding-left:-15px !important;
    padding-right:-45px !important;
    margin-left:-19px !important;
    margin-right:-19px !important;
  }
  td, th{
    font-size:14px;
  }
  a{
    max-width:91px !important;
  }

  .pagination-info{
    display:none
  }

  .nav-info{
    margin-left:30px !important;
  }

  .clearfix{
    margin-left: 5px !important;
  }

  #addDomainForm{
    font-size:12px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 10px !important;
  }
  #addDomainForm input{
    margin-bottom:20px;
  }
  #pagination, .pagination-btn{
    font-size: 12px;
    margin: 5px;
  }
  #pagination{
    margin-top: 25px !important;
    margin:auto;
  }
}
