{% extends 'home.html' %}

{% block content %}

<div class="head">
    <h1 style="color:white">Forgot Password</h1>
  </div>
  <br>
  <div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          {% if 'success' in message %}
            <li class="success-message">{{ message }}</li>
          {% else %}
            <li>{{ message }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
    <div class="form" >
      <form method="POST" action="{{ url_for('auth.forgot_password') }}">
        {{ form.hidden_tag() }}
        <div style="padding-bottom: 10px; text-align:center">
          {{ form.email.label }} {{ form.email(style="width:90%") }}
        </div>
        <div style="padding:10px; width:fit-content; margin:auto; text-align:center">
          {{ form.submit(style="background-color:green; border-radius: 10px; box-shadow: black 2px 2px 2px; color:white; font-weight:bolder") }}
        </div>
      </form>
    </div>
  </div>

  {% endblock %}