{% extends 'home.html' %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
        // Initialize cells with hidden data
        $("td.hide-conversion").each(function() {
        $(this).data('originalContent', $(this).html());
        $(this).html('<span style="color: #aaa;" title="Conversion data is hidden.">Hidden</span>');
    });

    // Show conversions on cell click
    $("td.hide-conversion").click(function() {
        var cellContent = $(this).html();
        if (cellContent === '<span style="color: #aaa;" title="Conversion data is hidden.">Hidden</span>') {
            var originalContent = $(this).data('originalContent');
            if (originalContent) {
                $(this).html(originalContent);
            }
        }
    });

    // Hide conversions on mouse leave, but not if the user is selecting text or if the cell has been permanently revealed
    $("td.hide-conversion").mouseleave(function() {
        if (!$(this).hasClass("revealed") && window.getSelection().toString() === "") {
            var cellContent = $(this).html();
            if (cellContent !== '<span style="color: #aaa;" title="Conversion data is hidden.">Hidden</span>') {
                $(this).data('originalContent', cellContent);
                $(this).html('<span style="color: #aaa;" title="Conversion data is hidden.">Hidden</span>');
            }
        }
    });

    // Toggle reveal/hide all conversions when the "Conversion" header is clicked
    $("th:contains('Conversion')").click(function() {
        if ($("td.hide-conversion.revealed").length > 0) { // If any cell is revealed, hide all cells
            $("td.hide-conversion").each(function() {
                $(this).removeClass("revealed");
                $(this).html('<span style="color: #aaa;" title="Conversion data is hidden.">Hidden</span>');
            });
        } else { // If no cells are revealed, reveal all cells
            $("td.hide-conversion").each(function() {
                var originalContent = $(this).data('originalContent');
                if (originalContent) {
                    $(this).html(originalContent);
                    $(this).addClass("revealed");
                }
            });
        }
    });

    $(".editable-cell").click(function() {
        if ($(this).find('input').length > 0) {
            return;  // If the cell is already being edited, don't recreate the input and save button
        }
        var originalContent = $(this).text();
        $(this).html('<input type="text" value="' + originalContent + '"><button class="save-btn">Save</button>');
        $(this).find('input').first().focus();
    });

    $(".editable-cell").on('click', '.save-btn', function() {
        var inputElem = $(this).siblings('input');
        var newValue = inputElem.val();
        var cell = $(this).parent();
        var leadId = cell.attr("data-id");
        var updateUrl;
        if (cell.index() === 10) {
            updateUrl = '/update_movedte';
        } else if (cell.index() === 16) {
            updateUrl = '/update_moverref';
        } else {
            return;  // Unsupported column, exit
        }

        // AJAX call to update the value
        $.ajax({
            url: updateUrl,
            method: 'POST',
            data: {
                'lead_id': leadId,
                'new_value': newValue  // Generic key for new value
            },
            success: function(response) {
                if (response.success) {
                    location.reload();
                } else {
                    alert(response.message || "Error updating value.");
                    cell.text(originalContent); // Revert to the original value
                }
            },
            error: function() {
                alert("An error occurred. Please try again later.");
                cell.text(originalContent); // Revert to the original value
            }
        });
    });

    // send to gronat button
    $(".send-to-gronat-btn").click(function(event) {
        event.preventDefault();

        var btn = $(this);
        btn.text('Sending...');
        var leadId = btn.prev('input[name="lead_id"]').val();

        $.ajax({
            url: '/send_local_gronat',
            method: 'POST',
            data: {
                lead_id: leadId
            },
            success: function(response) {
                if (response.success) {
                    btn.parent().css('color', 'green').text('Sent');
                    btn.remove();
                } else {
                    btn.text('Send to GRONAT');
                    alert("Failed to send lead to Gronat. Please try again.");
                }
            },
            error: function() {
                btn.text('Send to GRONAT');
                alert("An error occurred. Please try again later.");
            }
        });
    });
});

</script>
<div class="head">
<h1 style="text-align: center; color:white" >Local Leads</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          {% if 'success' in message %}
            <li class="success-message">{{ message }}</li>
          {% else %}
            <li>{{ message }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

<!-- Search Bar -->
<div class="search-area">
    <div class="search-bar">
        <input type="text" id="search-input" placeholder="Search..." style="height:30px; background-color: rgb(197, 197, 197); border-radius: 4px; border: none">
        <button onclick="toggleFilterOptions()" class="filter" style="background-color: rgb(48, 134, 49);" ><i class="fa-solid fa-filter"></i> Filter</button>
        <button onclick="filterLocalTable()" class="filter"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
    </div>
    <div id="filter-options" class="filter-options" style="display:none">
        <label><input type="checkbox" id="all-checkbox"> All</label>
        <label><input type="checkbox" id="duplicate-checkbox"> Filter Duplicates</label>
        <hr>
        <label><input type="checkbox" id="label-checkbox"> Label</label>
        <label><input type="checkbox" id="timestamp-checkbox"> Timestamp</label>
        <label><input type="checkbox" id="firstname-checkbox"> Name</label>
        <label><input type="checkbox" id="email-checkbox"> Email</label>
        <label><input type="checkbox" id="phone-checkbox"> Phone</label>
        <label><input type="checkbox" id="ozip-checkbox"> Origin ZIP</label>
        <label><input type="checkbox" id="dzip-checkbox"> Destination ZIP</label>
        <label><input type="checkbox" id="dcity-checkbox"> Destination City</label>
        <label><input type="checkbox" id="dstate-checkbox"> Destination State</label>
        <label><input type="checkbox" id="movesize-checkbox"> Move Size</label>
        <label><input type="checkbox" id="movedate-checkbox"> Move Date</label>
        <label><input type="checkbox" id="conversion-checkbox"> Conversion</label>
        <label><input type="checkbox" id="validation-checkbox"> # Validation</label>
        <label><input type="checkbox" id="notes-checkbox"> Notes/ICID</label>
        <label><input type="checkbox" id="gronat-checkbox"> Sent to Gronat</label>
        <label><input type="checkbox" id="sheets-checkbox"> Sent to Sheets</label>
        <label><input type="checkbox" id="moverref-checkbox"> Department</label>
    </div>
</div>
</div>

<div class="table-wrapper">
<div class="table-scroll">
    <table>
        <thead>
            <tr style="text-align: center;">
                <th>Label</th>
                <th>Timestamp</th>
                <th>First Name</th>
                <th class="header-info" data-toggle="tooltip" title="Duplicates are highlighted">Email <i class="fa-solid fa-circle-question"></i></th>
                <th class="header-info" data-toggle="tooltip" title="Duplicates are highlighted">Phone <i class="fa-solid fa-circle-question"></i></th>
                <th>Origin ZIP</th>
                <th>Destination ZIP</th>
                <th>Destination City</th>
                <th>Destination State</th>
                <th>Move Size</th>
                <th>Move Date</th>
                <th class="header-info"  data-toggle="tooltip" title="Click to reveal all conversions">Conversion <i class="fa-solid fa-circle-question"></i></th>
                <th>Notes/ICID</th>
                <th>Department</th>
                <th class="header-info" data-toggle="tooltip" title="Indicates if phone number was valid or invalid."> Phone # <i class="fa-solid fa-circle-question"></i></th>
                <th class="header-info" data-toggle="tooltip" title="Indicates if the lead was successfully sent to GRONAT.">GRONAT <i class="fa-solid fa-circle-question"></i></th>
                <th class="header-info" data-toggle="tooltip" title="Indicates if the lead was successfully sent to sheet.">Sheets <i class="fa-solid fa-circle-question"></i></th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td>{{ row.label }}</td>
                    <td>{{ row.timestamp }}</td>
                    <td>{{ row.firstname }}</td>
                    <td>{{ row.email }}</td>
                    <td>{{ row.phone1 }}</td>
                    <td>{{ row.ozip }}</td>
                    <td>{{ row.dzip }}</td>
                    <td>{{ row.dcity }}</td>
                    <td>{{ row.dstate }}</td>
                    <td>{{ row.movesize }}</td>
                    <td class="editable-cell" data-id="{{ row.id }}">{{ row.movedte }}</td>
                    <td class="hide-conversion" data-original-value="{{ row.conversion }}">{{ row.conversion }}</td>
                    <td>{{ row.notes }}</td>
                    <td class="editable-cell" data-id="{{ row.id }}">{{ row.moverref }}</td>
                    <td class = "validation"{% if row.validation == '0' %}style="color: rgb(216, 0, 0);"{% elif row.validation == '-1' %}style="color: rgb(150, 150, 150);"{% elif row.validation == '1' %}style="color: green;"{% endif %}>{{ row.validation }}</td>
                    <td class="sent-to-gronat" {% if row.sent_to_gronat == '0' %}style="color: rgb(216, 0, 0);"{% elif row.sent_to_gronat == '1' %}style="color: green;"{% endif %}>
                        {{ row.sent_to_gronat }}
                        {% if row.sent_to_gronat == '0' %}
                            <form action="/send_to_gronat" method="post">
                                <input type="hidden" name="lead_id" value="{{ row.id }}">
                                <button type="submit" class="send-to-gronat-btn" id="sendToGronatButton" onclick="this.innerHTML='Sending...';">Send to GRONAT</button>
                            </form>
                        {% endif %}
                    </td>
                    <td class="sent-to-sheets"{% if row.sent_to_sheets == '0' %}style="color: rgb(216, 0, 0);"{% elif row.sent_to_sheets == '1' %}style="color: green;"{% endif %}>{{ row.sent_to_sheets }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
            

<!-- <div class="status-bar">

</div> -->
<!-- Pagination Controls -->
{% if show_pagination %}
    <div id="pagination">
        <div class="pagination">
            {% if page > 1 %}
                <a href="{{ url_for('table.show_table', page=page-1, filter=filter_by) }}" class="pagination-btn"><b>&#171;</b> Previous</a>
            {% endif %}

            <span style="font-size: small;" class="pagination-info">Page {{ page }} of {{ total_pages }}</span>

            {% if page < total_pages %}
                <a href="{{ url_for('table.show_table', page=page+1, filter=filter_by) }}" class="pagination-btn">Next <b>&#187;</b></a>
            {% endif %}

            {% if end_page > 2 %}
                {% if page < total_pages %}
                    <span class="pagination-info">. . .</span>
                    <a href="{{ url_for('table.show_table', page=total_pages, filter=filter_by) }}" class="pagination-btn">Last ({{ total_pages }})</a>
                {% endif %}
            {% endif %}
            <button onclick="showAllEntries()" class="filter">Show All Entries</button>
        </div>
        
    </div>
    <br>
{% endif %}
{% endblock %}