{% extends 'home.html' %}

{% block content %}
<div class="head">
  <h1 style="color:white">Login</h1>
</div>
<br>
<div class="container">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          {% if 'success' in message %}
            <li class="success-message">{{ message }}</li>
          {% else %}
            <li>{{ message }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div class="form">
    <form method="POST" action="{{ url_for('auth.login') }}">
      {{ form.hidden_tag() }}
      <div>
        {{ form.username.label }} {{ form.username(style="border-radius:10px; padding:5px; border:none",size=32) }}
      </div>
      <div style="padding-top:15px;">
        {{ form.password.label }} {{ form.password(style="border-radius:10px; padding:5px; border:none",size=32) }}
      </div>
      <div style="padding:15px; width:fit-content; margin:auto; text-align:center;">
        {{ form.submit(class="filter") }}
      </div>
      <div>
        <a href="{{ url_for('auth.forgot_password') }}" style="color:rgb(103, 184, 255); text-decoration: none;">Forgot Username/Password?</a>
      </div>
      <p style="font-size:14px; font-weight:lighter"><a href="{{ url_for('auth.register') }}" style="color:rgb(255, 255, 255); text-decoration:none;"><i class="fa-solid fa-user-plus"></i> Sign Up</a></p>
  </form>
  </div>
</div>
{% endblock %}