{% extends 'home.html' %}
{% block content %}
<script>
document.addEventListener("DOMContentLoaded", function() {
    var myChart;

// Fetch data from the Flask route
fetch("/get_moverref_data")
.then(response => response.json())
.then(data => {
    // Extract moverrefs and their counts from the returned data
    const moverrefs = Object.keys(data);
    const counts = Object.values(data);

    // Create a bar chart
    var ctx = document.getElementById('moverrefChart').getContext('2d');
    myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: moverrefs,
            datasets: [{
                label: 'Number of Leads',
                data: counts,
                backgroundColor: 'rgba(65, 105, 225, 0.2)',  // Change to your preferred color
                borderColor: 'rgba(65, 105, 225, 1)',  // Change to your preferred color
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    document.getElementById("apply-date-filter").addEventListener("click", function() {
            let startDate = document.getElementById("start-date").value;
            let endDate = document.getElementById("end-date").value;
            updateChart(startDate, endDate);
        });

        document.getElementById("show-today").addEventListener("click", function() {
            let today = new Date().toISOString().split("T")[0];
            updateChart(today, today);
        });

        document.getElementById("show-all-time").addEventListener("click", function() {
            updateChart(null, null);
        });

    })
    .catch(error => console.error("There was an error loading the data", error));

    function updateChart(startDate, endDate) {
        let url = "/get_moverref_data";
        if(startDate && endDate) {
            url += `?start_date=${startDate}&end_date=${endDate}`;
        }

        fetch(url)
        .then(response => response.json())
        .then(data => {
            // Assuming you have a 'myChart' variable representing your chart:
            myChart.data.labels = Object.keys(data);
            myChart.data.datasets[0].data = Object.values(data);
            myChart.update();
        });
    }

});
</script>

<div class="head">
    <h1 style="color:white">Lead Distribution</h1>
</div>

<!-- Add New Configuration Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add New Department/Lead Configuration</h5>
            </div>
            <form action="{{ url_for('moverref.add_moverref_config') }}" method="post">
                <div class="modal-body">
                    <label for="name"> Department Name (email):</label>
                    <input type="text" name="name" required>
                    <br>
                    <label for="repeat_count">Lead Assignments per cycle:</label>
                    <input type="number" name="repeat_count" required>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="filter" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Configuration Modal for DB2 -->
<div class="modal fade" id="addModalDb2" tabindex="-1" role="dialog" aria-labelledby="addModalLabelDb2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabelDb2">Add New Department/Lead Configuration (SHARED)</h5>
            </div>
            <form action="{{ url_for('moverref.add_moverref_config_db2') }}" method="post">
                <div class="modal-body">
                    <label for="name"> Department Name (email):</label>
                    <input type="text" name="name" required>
                    <br>
                    <label for="repeat_count">Lead Assignments per cycle:</label>
                    <input type="number" name="repeat_count" required>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="filter" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <!-- DB1 Configurations -->
        <div class="col-md-6 mb-5 config-section">
            <div class="dept-head">
                <h2>Exclusive Lead Server</h2>
            </div>
            <div class="row" style="margin-bottom: -10px; margin-top: 20px;">
                {% for config in configs_db1 %}
                <div class="col-md-6 mb-3">
                    <div class="config-card" data-config-raw-name="{{ config.name }}">
                        <h3>Department: <b style="color: rgb(44, 44, 203);">{{ config.name }}</b></h3>
                        <p>Lead Assignments per cycle: <b style="color: rgb(44, 44, 203);">{{ config.repeat_count }}</b></p>
                        <div>
                            <button class="filter" title="Settings" onclick="showEditForm(this, {{ config.id }}, 'db1')">
                                <i class="fa-solid fa-gear" title="Settings" style="cursor:pointer"></i>
                            </button>
                            <form action="{{ url_for('moverref.delete_moverref_config', config_id=config.id) }}" method="post" style="display:inline;">
                                <button type="submit" class="deleteBtn" onclick="return confirm('Are you sure you want to delete?')">
                                    <i class="fa-solid fa-trash-can" title="Delete" style="cursor:pointer"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="text-center mt-3">
                <button class="filter" style="width:100%; border-radius: 10px; padding: 5px 0;" onclick="$('#addModal').modal('show')"><i class="fa-solid fa-plus"></i> Add New Department</button>
            </div>
        </div>

        <!-- DB2 Configurations -->
        <div class="col-md-6 mb-5 config-section">
            <div class="dept-head">
                <h2>Shared Lead Server</h2>
            </div>
            <div class="row" style="margin-bottom: -10px; margin-top: 20px;">
                {% for config in configs_db2 %}
                <div class="col-md-6 mb-3">
                    <div class="config-card" data-config-raw-name="{{ config.name }}">
                        <h3>Department: <b style="color: rgb(44, 44, 203);">{{ config.name }}</b></h3>
                        <p>Lead Assignments per cycle: <b style="color: rgb(44, 44, 203);">{{ config.repeat_count }}</b></p>
                        <div>
                            <button class="filter" title="Settings" onclick="showEditForm(this, {{ config.id }}, 'db2')">
                                <i class="fa-solid fa-gear" title="Settings" style="cursor:pointer"></i>
                            </button>
                            <form action="{{ url_for('moverref.delete_moverref_config_db2', config_id=config.id) }}" method="post" style="display:inline;">
                                <button type="submit" class="deleteBtn" onclick="return confirm('Are you sure you want to delete?')">
                                    <i class="fa-solid fa-trash-can" title="Delete" style="cursor:pointer"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="text-center mt-3">
                <button class="filter" style="width:100%; border-radius: 10px; padding: 5px 0;"  onclick="$('#addModalDb2').modal('show')"><i class="fa-solid fa-plus"></i> Add New Department</button>
            </div>
        </div>
    </div>
</div>

<!-- Styles -->
<style>
    .config-card {
        border: none;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
        
    }
    
    .config-section {
        padding: 30px 30px; /* Add horizontal padding */
    }

    .dept-head{
        background-color: #434343;
        color: white;
        text-shadow: #000000 2px 2px 2px;
        border-radius: 10px;
    }
    
    
    /* For mobile devices, add a bottom border to separate sections */
    @media (max-width: 767px) {
        .config-section {
            border-bottom: 2px solid #ddd;
            border-right: none;
            margin-bottom: 20px; /* Add some margin for better separation */
        }
    }
    </style>


</div>

<div style="background-color: #434343; padding-top: 10px; margin-top:50px; text-align: center;">
    <h2 style="text-align: center; color: white; text-shadow: black 2px 2px 2px;">Department Metrics</h2>
    <div style="margin-bottom: 20px; display: flex; justify-content: center; align-items: center; padding-top: 10px;">
        <label style='color:white; text-shadow: black 1px 1px 1px; padding-right: 10px;' for="start-date">Start Date: </label>
        <input type="date" id="start-date">
        
        <label style='color:white; text-shadow: black 1px 1px 1px; padding-left: 10px; padding-right: 10px;' for="end-date">End Date: </label>
        <input type="date" id="end-date">
        
        <button id="apply-date-filter" class='filter' style="margin-left: 20px;">Apply Date Filter</button>
        <div style="text-align: right; display: inline;">
            <button class='filter' id="show-today" style="margin-left: 20px;">Today</button>
            <button class='filter' id="show-all-time" style="margin-left: 20px;">All Time</button>
        </div>
    </div>
    <!-- Chart for leads by department -->
    <canvas id="moverrefChart" width="200" height="80" style="background-color: white; padding-bottom: 20px;"></canvas>
</div>
<!-- Edit Configuration Modal for DB1 -->
<div class="modal fade" id="editModalDb1" tabindex="-1" role="dialog" aria-labelledby="editModalLabelDb1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabelDb1">Edit Configuration</h5>
        </div>
        <form action="" id="editFormDb1" method="post">
          <div class="modal-body">
            <label for="modalNameDb1">Department:</label>
            <input type="text" id="modalNameDb1" name="name">
            <br>
            <label for="modalRepeatCountDb1">Lead Assignments per cycle:</label>
            <input type="number" id="modalRepeatCountDb1" name="repeat_count">
          </div>
          <div class="modal-footer">
            <input type="submit" class="filter" value="Save">
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <!-- Edit Configuration Modal for DB2 -->
  <div class="modal fade" id="editModalDb2" tabindex="-1" role="dialog" aria-labelledby="editModalLabelDb2" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabelDb2">Edit Configuration (SHARED)</h5>
        </div>
        <form action="" id="editFormDb2" method="post">
          <div class="modal-body">
            <label for="modalNameDb2">Department:</label>
            <input type="text" id="modalNameDb2" name="name">
            <br>
            <label for="modalRepeatCountDb2">Lead Assignments per cycle:</label>
            <input type="number" id="modalRepeatCountDb2" name="repeat_count">
          </div>
          <div class="modal-footer">
            <input type="submit" class="filter" value="Save">
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    function showEditForm(buttonElement, configId, dbName) {
        const configCardElement = buttonElement.closest('.config-card');
        
        const configName = configCardElement.getAttribute('data-config-raw-name');
        const repeatCount = configCardElement.querySelector('p').textContent.split(': ')[1];  // Assumes format "Lead Assignments per cycle: <count>"
    
        if (dbName === "db1") {
            document.getElementById('modalNameDb1').value = configName;
            document.getElementById('modalRepeatCountDb1').value = repeatCount;
            document.getElementById('editFormDb1').action = `/edit_moverref_config/${configId}`;
            $('#editModalDb1').modal('show');
        } else if (dbName === "db2") {
            document.getElementById('modalNameDb2').value = configName;
            document.getElementById('modalRepeatCountDb2').value = repeatCount;
            document.getElementById('editFormDb2').action = `/edit_moverref_config_db2/${configId}`;
            $('#editModalDb2').modal('show');
        }
    }
    </script>

{% endblock %}