{% extends 'home.html' %}

{% block content %}

<div class="head">
    <h1 style="color:white">Register</h1>
  </div>
  <br>
<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="form" style="margin-top:80px">
        <form method="POST" action="{{ url_for('auth.register') }}">
            {{ form.hidden_tag() }}
            
            {{ form.username.label }} {{ form.username(size=32, style='width:85%; ') }}
            <div style="padding-top:15px;">
            {{ form.password.label(style='display:inline-block') }}
            <div class="passwordDiv" style="display: inline-block !important; width:100%">{{ form.password(size=32, class="passwordDiv", style='width:80%;') }}<button type="button" class="passwordRevealBtn" title="Reveal Password" style="display: inline-block; width:fit-content; padding-left:5px; background-color: transparent; border: none;" onclick="showPassword()"><i class="fa-regular fa-eye"></i></button></div>
            </div>
            <div style="padding-top:15px;">
            {{ form.email.label }}  {{ form.email(size=32, style='width:85%;') }}
            </div>
            <div style="padding:15px; width:fit-content; margin:auto; text-align:center">
                {{ form.submit(style="background-color:green; border-radius: 10px; box-shadow: black 2px 2px 2px; color:white; font-weight:bolder") }}
            </div>
        </form>
    <p>Already have an account? <a href="{{ url_for('auth.login') }}" style="color:rgb(103, 235, 255); text-decoration: none;">Login</a></p>
</div>
</div>
<script>
    function showPassword() {
        var x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
{% endblock %}