{% extends 'home.html' %}

{% block content %}

<div class="head">
    <h1 style="color:white">Reset Password</h1>
</div>
  <br>
  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            {% if 'success' in message %}
              <li class="success-message">{{ message }}</li>
            {% else %}
              <li>{{ message }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div class="form">
    <form method="POST" action="{{ url_for('auth.reset_password', reset_token=reset_token) }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </div>
        <div>
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password(size=32) }}
        </div>
        <div style="padding:15px; width:fit-content; margin:auto; text-align:center">
            {{ form.submit(style="background-color:green; border-radius: 10px; box-shadow: black 2px 2px 2px; color:white; font-weight:bolder") }}
        </div>
    </form>
    </div>
</div>

{% endblock %}