{% extends 'home.html' %}

{% block content %}

<h2>Reset Password</h2>
    <form method="POST" action="{{ url_for('auth.reset_password', reset_token=reset_token) }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </div>
        <div>
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password(size=32) }}
        </div>
        <div>
            {{ form.submit(style="background-color:green; border-radius: 10px; box-shadow: black 2px 2px 2px; color:white; font-weight:bolder") }}
        </div>
    </form>

{% endblock %}