{% extends 'home.html' %}

{% block content %}
<div class="head">
<h1 style="text-align: center; color:white" >All Leads</h1>

<!-- Search Bar -->
<div class="search-area">
    <div class="search-bar">
        <input type="text" id="search-input" placeholder="Search..." style="height:30px; background-color: rgb(197, 197, 197); border-radius: 4px; border: none">
        <button onclick="toggleFilterOptions()" class="filter" style="background-color: rgb(48, 134, 49);" ><i class="fa-solid fa-filter"></i> Filter</button>
        <button onclick="filterTable()" class="filter"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
    </div>
    <div id="filter-options" class="filter-options" style="display:none">
        <label><input type="checkbox" id="all-checkbox"> All</label>
        <label><input type="checkbox" id="duplicate-checkbox"> Filter Duplicates</label>
        <hr>
        <label><input type="checkbox" id="label-checkbox"> Label</label>
        <label><input type="checkbox" id="timestamp-checkbox"> Timestamp</label>
        <label><input type="checkbox" id="firstname-checkbox"> Name</label>
        <label><input type="checkbox" id="email-checkbox"> Email</label>
        <label><input type="checkbox" id="phone-checkbox"> Phone</label>
        <label><input type="checkbox" id="ozip-checkbox"> Origin ZIP</label>
        <label><input type="checkbox" id="dzip-checkbox"> Destination ZIP</label>
        <label><input type="checkbox" id="dcity-checkbox"> Destination City</label>
        <label><input type="checkbox" id="dstate-checkbox"> Destination State</label>
        <label><input type="checkbox" id="movesize-checkbox"> Move Size</label>
        <label><input type="checkbox" id="movedate-checkbox"> Move Date</label>
        <label><input type="checkbox" id="conversion-checkbox"> Conversion</label>
        <label><input type="checkbox" id="validation-checkbox"> Validation</label>
        <label><input type="checkbox" id="notes-checkbox"> Notes</label>
        <label><input type="checkbox" id="gronat-checkbox"> Sent to Gronat</label>
        <label><input type="checkbox" id="sheets-checkbox"> Sent to Sheets</label>
    </div>
</div>
</div>

<div class="table-wrapper">
<div class="table-scroll">
    <table>
        <thead>
            <tr style="text-align: center;">
                <th>Label</th>
                <th>Timestamp</th>
                <th>First Name</th>
                <th>Email <i class="fa-solid fa-circle-question" title="Duplicates are highlighted" style="cursor:pointer"></i></th>
                <th>Phone <i class="fa-solid fa-circle-question" title="Duplicates are highlighted" style="cursor:pointer"></i></th>
                <th>Origin ZIP</th>
                <th>Destination ZIP</th>
                <th>Destination City</th>
                <th>Destination State</th>
                <th>Move Size</th>
                <th>Move Date</th>
                <th>Conversion</th>
                <th>Validation <i class="fa-solid fa-circle-question" title="-1 = No Validation check. 1 = Valid. 0 = Invalid" style="cursor:pointer"></i></th>
                <th>Notes</th>
                <th>GRONAT <i class="fa-solid fa-circle-question" title="O = Not Sent. 1 = Sent" style="cursor:pointer"></i></th>
                <th>Sheets <i class="fa-solid fa-circle-question" title="O = Not Sent. 1 = Sent" style="cursor:pointer"></i></th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td>{{ row.label }}</td>
                    <td>{{ row.timestamp }}</td>
                    <td>{{ row.firstname }}</td>
                    <td>{{ row.email }}</td>
                    <td>{{ row.phone1 }}</td>
                    <td>{{ row.ozip }}</td>
                    <td>{{ row.dzip }}</td>
                    <td>{{ row.dcity }}</td>
                    <td>{{ row.dstate }}</td>
                    <td>{{ row.movesize }}</td>
                    <td>{{ row.movedte }}</td>
                    <td>{{ row.conversion }}</td>
                    <td {% if row.validation == '0' %}style="color: rgb(216, 0, 0);"{% elif row.validation == '-1' %}style="color: rgb(150, 150, 150);"{% elif row.validation == '1' %}style="color: green;"{% endif %}>{{ row.validation }}</td>
                    <td>{{ row.notes }}</td>
                    <td {% if row.sent_to_gronat == '0' %}style="color: rgb(216, 0, 0);"{% elif row.sent_to_gronat == '1' %}style="color: green;"{% endif %}>
                        {{ row.sent_to_gronat }}
                        {% if row.sent_to_gronat == '0' %}
                            <form action="/send_to_gronat" method="post">
                                <input type="hidden" name="lead_id" value="{{ row.id }}">
                                <button type="submit" class="send-to-gronat-btn" id="sendToGronatButton" onclick="this.innerHTML='Sending...';">Send to GRONAT</button>
                            </form>
                        {% endif %}
                    </td>
                    <td {% if row.sent_to_sheets == '0' %}style="color: rgb(216, 0, 0);"{% elif row.sent_to_sheets == '1' %}style="color: green;"{% endif %}>{{ row.sent_to_sheets }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
            

<!-- <div class="status-bar">

</div> -->
<!-- Pagination Controls -->
{% if show_pagination %}
    <div id="pagination">
        <div class="pagination">
            {% if page > 1 %}
                <a href="{{ url_for('table.show_table', page=page-1, filter=filter_by) }}" class="pagination-btn"><b>&#171;</b> Previous</a>
            {% endif %}

            <span style="font-size: small;" class="pagination-info">Page {{ page }} of {{ total_pages }}</span>

            {% if page < total_pages %}
                <a href="{{ url_for('table.show_table', page=page+1, filter=filter_by) }}" class="pagination-btn">Next <b>&#187;</b></a>
            {% endif %}

            {% if end_page > 2 %}
                {% if page < total_pages %}
                    <span class="pagination-info">. . .</span>
                    <a href="{{ url_for('table.show_table', page=total_pages, filter=filter_by) }}" class="pagination-btn">Last ({{ total_pages }})</a>
                {% endif %}
            {% endif %}
            <button onclick="showAllEntries()" class="filter">Show All Entries</button>
        </div>
        
    </div>
    <br>
<style>

.send-to-gronat-btn{
    background: rgb(48, 134, 49);
    color:white; 
    font-weight:bolder; 
    text-shadow:black 1px 1px 1px; 
    border-radius:5px; 
    border: black 1px solid;
}
.send-to-gronat-btn :hover{
    text-shadow: black 2px 2px 2px;
    background: rgb(33, 82, 33);
}
</style>
{% endif %}
{% endblock %}